
.dashboard-layout {
  display: flex;
  min-height: 100vh;   /* instead of height */
  background: #f3f3f3;
}

/* Sidebar */
.sidebar {
  width: 220px;
  background: white;
  padding: 20px;
  border-right: 1px solid #eee;
  min-height: 100vh;
}

/* Main */
.dashboard-main {
  flex: 1;
  padding: 30px;
  overflow-y: auto;   /* allows scrolling */
}

.subtitle {
  color: gray;
  margin-bottom: 25px;
}

/* Top Cards */
.top-cards {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}

.card {
  flex: 1;
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

.course-title {
  margin: 10px 0;
}

/* Progress */
.progress-bar {
  height: 6px;
  background: #eee;
  border-radius: 10px;
}

.progress-fill {
  width: 45%;
  height: 100%;
  background: #6c63ff;
  border-radius: 10px;
}

.progress-text {
  font-size: 12px;
  color: gray;
}

/* Files */
.file-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8px 0;
}

.file {
  padding: 3px 6px;
  font-size: 10px;
  border-radius: 4px;
  color: white;
}

.pdf { background: red; }
.zip { background: green; }
.doc { background: blue; }

.small-btn {
  margin-top: 10px;
  background: #eee;
  border: none;
  padding: 6px 10px;
  border-radius: 8px;
  cursor: pointer;
}

/* Calendar */
.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 6px;
  margin-top: 10px;
}

.calendar-grid span {
  padding: 6px;
  text-align: center;
  border-radius: 6px;
  font-size: 12px;
  transition: 0.2s;
}

.calendar-grid span:hover {
  background: #eee;
}

.today {
  background: #6c63ff;
  color: white;
  font-weight: bold;
}

/* Bottom */
.bottom-section {
  display: flex;
  gap: 20px;
}

.courses-box {
  flex: 2;
  background: white;
  padding: 20px;
  border-radius: 12px;
}

.course-item {
  padding: 12px;
  border-radius: 8px;
  background: #f8f8f8;
  margin-top: 10px;
}

.course-item.active {
  border: 2px solid #6c63ff;
}

.performance-box {
  flex: 1;
  background: white;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
}

/* ===== SEMI-CIRCLE PERFORMANCE GAUGE ===== */

.gauge-wrapper {
  position: relative;
  width: 200px;
  height: 100px;
  margin: 30px auto;
}

.gauge-background {
  width: 200px;
  height: 100px;
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
  background: #e5e5e5;
}

.gauge-progress {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 100px;
  border-top-left-radius: 200px;
  border-top-right-radius: 200px;
  background: linear-gradient(to right, #6c63ff, #4a47d5);
}

.gauge-text {
  position: absolute;
  top: 40px;
  width: 100%;
  text-align: center;
}