.studentRegister{
background:#f3f3f3;
min-height:100vh;
display:flex;
flex-direction:column;
align-items:center;
padding-top:40px;
font-family:Arial, Helvetica, sans-serif;
}

.backBtn{
position:absolute;
left:40px;
top:40px;
width:45px;
height:45px;
border-radius:50%;
border:none;
background:black;
color:white;
font-size:20px;
cursor:pointer;
}

.joinTitle{
margin-bottom:20px;
}

.roleTabs{
margin-bottom:30px;
}

.roleActive{
background:linear-gradient(90deg,#5a4bff,#8a7cff);
color:white;
padding:10px 40px;
border:none;
border-radius:30px;
}

.formCard{
background:#e9e9e9;
padding:40px;
width:600px;
border-radius:20px;
display:flex;
flex-direction:column;
}

.formCard h2{
margin-bottom:10px;
}

.desc{
font-size:14px;
color:#555;
margin-bottom:10px;
}

.note{
font-size:13px;
margin-bottom:20px;
}

.formCard label{
margin-top:10px;
font-size:14px;
}

.formCard input,
.formCard select{
padding:12px;
margin-top:5px;
border-radius:8px;
border:1px solid #ccc;
}

.radioGroup{
display:flex;
gap:20px;
margin-top:10px;
}

.dobGroup{
display:flex;
gap:10px;
margin-top:10px;
}

.registerBtn{
margin-top:30px;
padding:15px;
border:none;
border-radius:30px;
background:#bdbdbd;
color:white;
cursor:pointer;
font-size:15px;
}